{% block translatable_text_widget %}
    {% for locale, child in form.children %}
        <div class="input-group localized">
          {{ form_widget(child) }}
          <div class="input-group-addon flag-icon-background flag-icon-{{ locale|replace({'en': 'gb'})|lower }}"></div>
        </div>
    {% endfor %}
{% endblock %}
