<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="./vendor/autoload.php"
>

    <testsuites>
        <testsuite name="JsonFormExtension">
            <directory suffix="Test.php">src/Majora/Framework/Form/Extension/Json/Tests</directory>
            <file>src/Majora/Bundle/FrameworkExtraBundle/Tests/Functional/JsonFormExtensionTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/Majora/Bundle/FrameworkExtraBundle/Resources</directory>
                <directory>src/Majora/Bundle/FrameworkExtraBundle/Tests</directory>
                <directory>src/Majora/Framework/Form/Extension/Json/Tests</directory>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
